
*.xcuserstate
*.xcuserstate
*.resolved
*.pbxproj
*.xcuserstate
*.xcuserstate
bpart.xcodeproj/project.xcworkspace/xcuserdata/alexcho.xcuserdatad/UserInterfaceState.xcuserstate
bpart.xcodeproj/xcuserdata/alexcho.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcuserstate
